html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.header {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.box {
  display: flex;
}

.field {
  margin: 10px;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
}

.label {
  display: block;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
